*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body{
    font-family: sans-serif;
    background-image: linear-gradient(to bottom left,rgba(64,55,151,10),rgba(210,86,21,54));
}

a{
    text-decoration: none;
    color: white;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
}

.theme-toggler{
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active{
    color: #272727;
}

.theme-toggler.active::before{
    background: white;
}

.theme-toggler::before{
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background: #333;
    z-index: -1;
}

.display{
    margin: 0 0px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    overflow-x: scroll;
}

.display::-webkit-scrollbar{
    display: block;
    height: 3px;
}

#display{
    height: 70px;
    width: 100%;
    border: 2px solid black;
    margin: 5px;
    font-size: 20px;
    background: white;
}

button{
    height: 60px;
    width: 60px;
    border: 2px solid black;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover{
    transform: scale(1.15);
}















